*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI Semibold, sans-serif;
}

body {
    background-color: #333;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.general .container {
    display: flex;
    position: relative;
    padding: 80px 40px;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.general .container .card {
    position: relative;
    width: 300px;
    height: 180px;
    transition: 0.5s;
}

.general .container .card:hover {
    height: 500px;
}

.general .container .card .lines {
    position: absolute;
    inset: 0;
    background-color: black;
    overflow: hidden;
}

.general .container .card:hover .lines {
    background-color: rgb(177, 177, 177);
}

.general .container .card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: rgb(34, 34, 34);
}

.general .container .card .imgBx {
    display: flex;
    justify-content: center;
}

.general .container .card .imgBx .cadre {
    display: flex;
    position: absolute;
    top: -70px;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    background-color: black;
}

.general .container .card .imgBx .cadre .image {
    position: absolute;
    font-size: 6em;
}

.general .container .card:hover .imgBx .cadre {
    top: 35px;
    width: 230px;
    height: 230px;
    background-color: rgb(177, 177, 177);
}

.general .container .card .imgBx .cadre::after {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: rgb(34, 34, 34);
}

.general .container .card .imgBx .cadre ion-icon {
    position: absolute;
    z-index: 1;
    transition: 0.5s;
}

.general .container .card:hover .imgBx .cadre ion-icon {
    color: rgb(177, 177, 177);
    pointer-events: none;
}

.general .container .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.general .container .card .content .details {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(130px);
}

.general .container .card:hover .content .details {
    transform: translateY(-10px);
}

.general .container .card .content .details h2{
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(177, 177, 177);
    line-height: 1.2em;
}

.general .container .card .content .details p {
    color: rgb(114, 114, 114);
    opacity: 0;
    transition: 0.5s;
}

.general .container .card:hover .content .details p {
    opacity: 1;
}

.general .container .card .content .details a {
    display: inline-block;
    padding: 8px 15px;
    background-color: aliceblue;
    color: black;
    margin-top: 20px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.general .container .card:hover .content .details p,
.general .container .card:hover .content .details a {
    opacity: 1;
}

.general .container .card .content .detail {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(140px);
}

.general .container .card:hover .content .detail {
    transform: translateY(0px);
}

.general .container .card .content .detail h2{
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(177, 177, 177);
    line-height: 1.2em;
}

.general .container .card .content .detail p {
    color: rgb(114, 114, 114);
    opacity: 0;
    transition: 0.5s;
}

.general .container .card:hover .content .detail p {
    opacity: 1;
}

.general .container .card .content .detail a {
    display: inline-block;
    padding: 8px 15px;
    background-color: aliceblue;
    color: black;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.general .container .card:hover .content .detail p,
.general .container .card:hover .content .detail a {
    opacity: 1;
}



.icon {
    display: flex;
    justify-content: right;
}

.icon .bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(34, 34, 34);
    top: 50px;
    right: 50px;
    transition: 0.5s;
    border-radius: 15px;
    border: black 3px solid;
}

.icon .bouton:hover {
    border: rgb(177, 177, 177) 3px solid;
}

.icon .bouton .head {
    font-size: 2em;
    pointer-events: none;
    transition: 0.5s;
    color: black;
}

.icon .bouton:hover .head {
    font-size: 2em;
    pointer-events: none;
    color: rgb(177, 177, 177);
}